<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <br>
  <h2>Movie Search Application!</h2>
  <div class="jumbotron">
    <h2 class="display-4">Hello, World!</h2>
    <p class="lead">
      This is a simple Movie Search Application, where users can search for
      their favorite movie and find relevant information.
    </p>
    <hr class="my-4" />
    <p>Made by Manish Modwani.</p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up!</a>
  </div>
</div>
<%- include("./partials/footer")%>
