<%- include("./partials/header")%>
<!--Main Page-->
<div class="container">
  <br>
  <h2>Movie Search Application!</h2>
  <div class="jumbotron">
    <h2 class="display-4">Hello, World!</h2>
    <p class="lead">
      This is a simple Movie Search Application, where users can search for
      their favorite movie and find relevant information.
    </p>
    <hr class="my-4" />
    <p>Made by Manish Modwani.</p>
    <%if(currentUser===null){%>
      <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a>
      <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>
      <%}else{%>
        <a class="btn btn-danger btn-lg" href="/logout" role="button">Logout</a>
      <%}%>
  </div>
</div>
<%- include("./partials/footer")%>
